@font-face {
  font-family: 'Poiret One';
  src: url("/fonts/PoiretOne-Regular.ttf");
}

@font-face {
  font-family: 'Poppins';
  src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: 'Megrim';
  src: url("/fonts/Megrim-Regular.ttf");
}

@font-face {
  font-family: 'Fredoka One';
  src: url("/fonts/FredokaOne-Regular.ttf");
}

@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: 'Fira Code';
  src: url("/fonts/FiraCode-VF.ttf");
}

:root {
  font-family: 'Poppins';
  --heading-font: 'Poiret One';
  --bg1: #dfdfdf;
  --bg2: #ffffff;
  --bg3: #ededed;
  --accent-color: #06e8f8;
  --heading-color: rgba(0, 0, 0, 0.7);
  --text-color: black;
  --light-text-color: #666666
}

body {
  min-height: 100vh;
  margin: 0;
  background: var(--bg1);
}